body{

background:#0a0a0a;
color:white;
font-family:Arial;
text-align:center;

}

h1{
color:#00eaff;
}

.compass-box{

margin-top:20px;

}

canvas{

background:#1a1a1a;
border:6px solid white;
border-radius:50%;

}

.panel{

margin-top:30px;
font-size:18px;

}
